body{
    background-color: rgb(240,240,240);
}

.icon-demo-al{
    background-image: url(../images/icon/planet.svg)!important;
}
.icon-input-al{
    background-image: url(../images/icon/login.svg)!important;
}
.icon-logo-al{
    background: url(../images/Logo/logo-atu.png)!important;
    
}

.content {
    min-height: calc(74vh - 80px);
}
.field-validation-error{
    padding-left: 3px;
    font-size: 12px;
    color: red;
}
.zb-password{
    text-align: end;
}
