@model Login

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="slider">

</div>

<div id="content" class="content login">
	<div class="pageWidth">
		<div class="pageContent">
			<!-- main content area -->
			<!--[if lt IE 8]>
				<p class="importantMessage">Вы используете устаревший браузер. Этот и другие сайты могут отображаться в нём некорректно.<br />Необходимо обновить браузер или попробовать использовать <a href="https://www.google.com/chrome/browser/" target="_blank">другой</a>.</p>
			<![endif]-->
			<!-- h1 title, description -->
			<div class="titleBar">
				<h1>Вход</h1>
			</div>
			<div asp-validation-summary="ModelOnly"></div>
			<form asp-action="Login" asp-controller="Account" method="post" class="xenForm" id="pageLogin">
				<dl class="ctrlUnit">
					<dt>
						<label asp-for="EmailAndUserName" for="ctrl_pageLogin_login" style="font-weight: normal;">E-mail/Логин:</label>
					</dt>
					<dd>
						<input asp-for="EmailAndUserName" type="text" value="" id="ctrl_pageLogin_login" class="textCtrl" tabindex="1" autofocus="autofocus">
							<span asp-validation-for="EmailAndUserName"></span>
						</dd>
				</dl>
				
				<dl class="ctrlUnit">
					<dt>
						<label asp-for="Password"  asp-for-label="" for="ctrl_pageLogin_password" style="font-weight: normal;">Пароль</label>
					</dt>
					<dd>
						<ul>
							<li id="ctrl_pageLogin_registered_Disabler">
								<input asp-for="Password" type="password" class="textCtrl" id="ctrl_pageLogin_password" tabindex="2">
								<span asp-validation-for="Password"></span>
								<div class="zb-password">
									<a href="#" class="OverlayTrigger OverlayCloser" tabindex="6">Забыли пароль?</a>
								</div>
							</li>
						</ul>
					</dd>
				</dl>

				<dl class="ctrlUnit submitUnit">
					<div style="text-align:center;">
						<input type="submit" class="button primary" value="Вход" data-loginphrase="Вход" data-signupphrase="Регистрация" tabindex="4">
						<label class="rememberPassword">
							<input asp-for="Remember" type="checkbox" name="remember" value="1" id="ctrl_pageLogin_remember" tabindex="3"/> Запомнить меня
						</label>
					</div>
				</dl>
			</form>
		</div>
	</div>
	
</div>


@section Scripts
{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}


